<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928537783750-c9r100h1gnhebrd8lt53m975ri9hqbuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928537783750-c9r100h1gnhebrd8lt53m975ri9hqbuq</string>
	<key>API_KEY</key>
	<string>AIzaSyCBbCRKj1vAafL6Lk-wOH-aqn3b1vYag2s</string>
	<key>GCM_SENDER_ID</key>
	<string>928537783750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practise.ContentApp</string>
	<key>PROJECT_ID</key>
	<string>contentapp-12626</string>
	<key>STORAGE_BUCKET</key>
	<string>contentapp-12626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928537783750:ios:38e9da99d55c1d7d1a56c7</string>
</dict>
</plist>